body, html {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    position:absolute;
    top:0;
    left:0
}

#center {
   position: absolute;
   left: 40%;
   top: 50%;
   margin-left: -150px;
   margin-top: -150px;
}

.navv {
 position: relative;
}

.navv p{
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #ffff;
}

.OrderBTN {
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 10px;
  color: #000;
  background-color: #ffff;
  border-color: #000;
  border-width: 2px;
}

.OrderBTN:hover {
  color: #000;
  background-color: #ffff;
  border-color: #000;
}

img {
  margin-right: 8px;
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {


}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
