@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #181818;
    color: white;
}

/* HOVER CSS */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #ff3153;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

#navigation-top {
    background: #181818;
    padding: 5px 50px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.55);
    z-index: 99999;
}

.navTop-right {
    align-items: center;
    display: flex;
}


.profileLogged:hover {
    border: 6px solid #ff3153;
    transition: 0.5s ease-in-out;
}

.navTop_link {
    color: #ff3153;
    text-decoration: none;
    margin: 0px 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Jost', sans-serif;
    letter-spacing: 2px;
}

.navBrand {
    width: 150px;
}

.profileLogged {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 0px 0px 0px 30px;
    transition: 0.5s ease-in-out;
    border: 3px solid #ff3153;
}

.main-Content {
    display: flex;
    margin-top: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #181818;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff3153;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff3153;
  }

.posAbs {
    margin-top: -5px;
    position: absolute;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.55);
    right: 25px;
    font-size: 17px;
    text-decoration: none;
    color: #ff3153;
    text-transform: uppercase;
    border: 2px solid #ff3153;
    padding: 10px 30px;
    border-radius: 30px;
}

.imgSel {
    filter: grayscale(0%) !important;
}

.server-image {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    transition: 0.5s;
    filter: grayscale(100%);
}

.server-image:hover {
    border: 5px solid #ff3153;
    transition: 0.5s;
    filter: grayscale(0%);
}

.sideBar-server-box {
    margin: 5px -5px;
}


.sideBar-server {
    border-radius: 35px;
    background: #ff3153;
    width: 80px;
    height: 89vh;
    padding: 5px 10px;
}


.sideBar-nav {
    background: #181818;
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.selected {
    background: #212121;
    width: 310px;
}

.sideBar-navLink {
    color: #ff3153;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;

    padding: 0px 50px;
}

.sideBar-nav-title {
    margin: 15px 50px;
    text-transform: uppercase;
    color: #464545;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 3px;
}

.box-content {
    background: #212121;
    width: 85%;
    padding: 55px 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.titleBox {
    color: #ff3153;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 20px;
}


.profileHover {
    position: relative;
    display: inline-block;
  }
  
.dropdownText {
    font-weight: 900;
    font-size: 20px;
}

.dropdownText-lg {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 50px;
}

#dropdown-content {
    position: absolute;
    background-color: #212121;
    color: #ff3153;

    border: 3px solid #ff3153;
    border-radius: 15px;
    min-width: 200px;
    margin-left: -120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }


/* DISPLAY */

.rankingList {
    display: none;
}

.boxContent-info {
    background: #181818;
    height: 730px;
    padding: 15px 20px;
    overflow: auto;
}

.contentScroll {
    background:  #181818;
    height: 15px;
    border-top-left-radius: 50px;
}

.contentScroll2 {
    background:  #181818;
    height: 15px;
    border-bottom-left-radius: 50px;
}

.topList {
    justify-content: flex-start;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    background: #212121;
    border: 3px solid #ff3153;
    padding: 15px 25px;
    margin: 20px;
    border-radius: 40px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }

.topImage {
    width: 70px;
    height: 70px;
    border-radius: 50px;;
}

.topName {
    color: #ff3153;
    font-weight: 600;
    font-size: 20px;

    margin: 0px 50px;
}

.topPeople {
    color: #ff3153;
    font-weight: 600;
    font-size: 20px;
    margin: 0px 0px 0px 150px;
}

.topPosition {
    color: #ff3153;
    font-weight: 600;
    font-size: 20px;

    position: absolute;
    right: 110px;
}

.dashboard {
    margin: 10px 0px;
    background: #212121;
    padding: 10px;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    border: 3px solid #ff3153;
    border-radius: 50px;;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ff3153;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.graph-box {
    background: #212121;
    width: 800px;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    height: 400px;
    border-radius: 30px;
    border: 3px solid #ff3153;
}

.content-column {
    display: flex;
    
    justify-content: space-between;
}

.dashboard-col2 {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.youtube-vid {
    border-radius: 50px;
    width:1430px; 
    height:470px;
}

.dashboard2 {
    margin: 10px 0px;
    background: #212121;
    padding: 10px;
    border: 3px solid #ff3153;
    border-radius: 50px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ff3153;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.dashboard-col {
    margin-top: 50px;
    align-items: flex-start;
}

.graph-title {
    font-size: 20px;
    color: #ff3153;
    margin: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

.comamndList {
    color: #ff3153;
    font-size: 20px;
    font-weight: 700;
}

.topList3 {
    display: flex;
    align-items: center;
    text-align: center;
    background: #212121;
    justify-content: center;
    border: 3px solid #ff3153;
    padding: 25px 25px;
    width: 460px;
    border-radius: 40px;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    margin: 20px auto;
}

.topList2 {
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    background: #212121;
    justify-content: space-between;
    border: 3px solid #ff3153;
    padding: 15px 25px;
    width: 500px;
    margin: 0px;
    border-radius: 40px;
    margin: 10px 0px;
}

.PrefixInput {
    background: #181818;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 25px 20px;
    font-size: 20px;
    width: 450px;
    color: white;
}


::placeholder {
    font-size: 20px;
    text-transform: uppercase;
}

/* MEDIA QUERY */
@media only screen and (max-width: 1371px) {

    .dashboard-col {
        flex-direction: column;
        align-items: center;
    }

    .boxContent-info {
        height: 540px;
        width: 835px;
    }
    
    .contentScroll, .contentScroll2 {
        width: 835px;
    }

}



@media only screen and (max-width: 460px) {

    .titleBox {
        padding-bottom: 85px !important;
        font-size: 25px !important;
    }

    .posAbs {
        margin-top: 50px !important;
        right: 140px !important;
    }

    .graph-box {
        width: 250px !important;
        height: 265px !important;
    }

    .dashboard {
        font-size: 16px !important;
        padding: 25px;
        height: inherit !important;
    }

    .topList2, .topList, .topList3 {
        width: 250px !important;
    }

    .topName {
        margin: 0px !important;
    }

    .topList {
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0px !important;
        margin-left: -5px !important;

        box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.55);
    }
   
    .titleBox {
        text-align: center;
    }

    .dashboard-col {
        margin-left: -10px;
    }
    
    .topPeople {
        margin: 15px 0px !important;
    }

    .topName {
        margin-top: 10px !important;
    }

    .topPosition {
        position: inherit !important;
        right: 0px !important;
    }

    .prefixInput {
        width: 195px !important;
    }

    ::placeholder {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 1360px) {

    .dashboard-col {
        flex-direction: row;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boxContent-info {
        height: 535px !important;
    }

    .youtube-vid {
        width: 860px !important;
    }

    .topPeople {
        margin: 0px 0px 0px 65px !important;
    

}



@media only screen and (max-width: 968px) {

    .graph-box {
        width: 730px;
    }

    .youtube-vid {
        width: 700px !important;
    }

    .topPosition {
        right: 135px !important;
    }

}

@media only screen and (max-width: 1300px) {

    .content-column {
        flex-direction: column;
    }

    .dashboard-col {
        align-items: center;
    }

    .boxContent-info {
        height: 955px;
    }

    .youtube-vid {
        width: 800px;
    }

    .content-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .topPeople {
        margin: 0px !important;
    }
    
    .topList {
        width: 780px;
    }

}

@media only screen and (max-width: 1200px) {

    .main-Content {
        flex-direction: column;
    }

    .posAbs {
        right: 110px;
    }

    .content-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dashboard-col {
        align-items: center;
    }

    .sideBar-server {
        width: 100%;
        height: auto;
        display: flex;
    }

    .sideBar-server-box {
        margin: 0px 10px;
    }

    .box-content {
        margin-top: 30px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 15px;
    }

    .content-column {
        flex-direction: column;
    }

    .sideBar-nav {
        width: auto;
        align-items: center;
    }

    .selected {
        text-align: center;
    }

    #navigation-top {
        display: none;
    }

}